@model DevIO.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Editar Fornecedor";
}



<h2 style="padding-top: 30px; font-size: 26px; font-weight: bold;">@ViewData["Title"]</h2>
<h4 style="font-size: 22px;">@Model.Nome</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>

            <label asp-for="Documento" class="control-label"></label>
            <input asp-for="Documento" class="form-control" />
            <span asp-validation-for="Documento" class="text-danger"></span>

        </div>

        <div class="form-group col-md-6">

                <label asp-for="TipoFornecedor"></label> <br />
                <input type="radio" value="1" asp-for="TipoFornecedor" checked="@Model.TipoFornecedor == 1"/> Pessoa Física
                <input style="margin-left: 10px;" type="radio" value="2" asp-for="TipoFornecedor" checked ="@Model.TipoFornecedor == 2"/> Pessoa Jurídica


            <div class="checkbox" style="margin-top: 30px;">
                <label>
                    <input asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<div>
    <partial name="_DetalhesEndereco" />
</div>


<div>
    <h4>Produtos</h4>
    <hr/>
    <br/>
    <partial name="../Produtos/_ListaProdutos" model="@Model.Produtos" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
